<p>Saludos, <%= @resource.nombre %>.</p>

<p>Usted puede confirmar el email de su cuenta haciendo click en el siguiente enlace:</p>

<p><%= link_to 'Confirmar mi cuenta.', usuarios_confirmar_url(:confirmation_token => @resource.confirmation_token) %></p>
