<p>Saludos, <%= @resource.nombre %>.</p>

<p>Alguien ha solicitado cambiar su contraseña. Puede hacerlo a través del siguiente enlace:</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si usted no solicitó cambiar su contraseña, porfavor ignore este email.</p>
<p>Su contraseña no cambiará hasta que usted acceda al enlace anterior y crée una nueva.</p>
