<div class="pagina-estatica">
  <h2>Acerca de La República Ciudadana</h2>
  <h3>¿Qué es?</h3>
  <p>Es un espacio público que permite conversar y poner en común el conocimiento acerca del ser y el quehacer del ciudadano colombiano, a través de la formulación y  la contestación de preguntas.</p>
  <hr>
  <h3>Parámetros de uso</h3>
  <h4>República Ciudadana lo invita a:</h4>
  <ul>
    <li>Respetar las inquietudes y respuestas de los otros ciudadanos.</li>
    <li>Compartir información honesta.</li>
    <li>Ser argumentativo, propositivo y crítico.</li>
    <li>Generar conversaciones sobre ciudadanía con los otros ciudadanos.</li>
    </ul>
  <h4>República Ciudadana removerá de su portal:</h2>
  <ul>
     <li>Los contenidos irrespetuosos, intolerantes y violentos.</li>
     <li>Las preguntas, textos complementarios, respuestas y comentarios que no cumplan con <strong>las siguientes instrucciones:</strong></li></ul>
  <h4>¿Qué tipo de preguntas se pueden realizar?</h4>
  <p>Las que sólo tengan relación con los derechos y deberes de los ciudadanos colombianos, los mecanismos y actividades de participación ciudadana en Colombia (…) </p>
  <h4>¿Cómo se debe preguntar?</h4>
  <p><em>En la pregunta principal:</em> Siguiendo la coherencia de la estructura gramatical.</p>
  <p>Por ejemplo: “¿QUÉ PUEDO HACER COMO CIUDADANO COLOMBIANO PARA participar en una sesión del Concejo del municipio de Medellín? </p>  
  <p><em>En el texto complementario:</em> Siendo preciso, contextualizando la pregunta según sus necesidades e intereses de conocimiento, sin salirse del tema de la ciudadanía. </p>
  <h4>¿Cómo NO se debe preguntar?</h4>
  <p><em>En la pregunta principal:</em> Siguiendo de manera incoherente la estructura gramatical.</p>
 <p>Por ejemplo: “¿QUÉ PUEDO HACER COMO CIUDADANO COLOMBIANO PARA necesito saber cómo participo en el Concejo del municipio de Medellín?</p> 
  <p><em>En el texto complementario:</em> Agregando información demasiado extensa, impertinente, ofensiva, publicitaria o que no tenga relación con el tema de ciudadanía.</p>
  <h4>¿Qué tipo de respuestas se deben realizar?</h4>
  <p>Las que sólo tengan relación directa con la pregunta formulada y respondan las inquietudes expuestas.</p>
  <h4>¿Qué tipo de respuestas NO se deben realizar?</h4>
  <ul>
    <li>Las que emitan comentarios a la pregunta que se pretende responder, tales como:
“Muchas gracias” - “No entiendo lo que estás diciendo” - “Tengo la misma duda”</li>
    <li>Las que formulen otras preguntas, tales como: “¿Qué es presupuesto participativo?"</li>
    <li>Las que se limiten a la publicación de un enlace <strong>:::</strong> Los enlaces pueden ser empleados como respuesta cuando lleven una explicación o una descripción que le aporten a la pregunta formulada que se pretende responder.</li>
    <li>Las que tengan información demasiado extensa, impertinente, ofensiva, publicitaria o que no tenga relación con el tema de ciudadanía</li></ul> 
   <h4>¿Qué tipo de comentarios se deben realizar?</h4>
   <ul>
     <li>Los que sean acordes con el tema de una pregunta formulada o de una respuesta publicada.</li>
     <li>Los que discutan, complementen o corrijan una pregunta formulada o una respuesta publicada.</li>
     <li>Enlaces que aporten al tema de discusión. Por ejemplo: <a href="http://www.ciudadcomuna.org">http://www.ciudadcomuna.org </a> "aquí puedes encontrar una experiencia de participación ciudadana. ¡Espero que te sirva!” </li></ul>
  <h4>¿Cómo puede usted como usuario eliminar el contenido (preguntas, textos complementarios, respuestas o comentarios) que publica?</h4>
  <p>Argumente las razones por las que va a eliminar el contenido y sea respetuoso y cuidadoso cuando decida eliminar el contenido que publica porque éste puede ser de gran importancia para las discusiones sobre ciudadanía. Se lo agradeceremos.</p>
  <h4>¿Para qué sirven los botones ( + ) y ( - )?</h4>
  <p>Nos ayudan a clasificar y a valorar cuantitativamente las preguntas formuladas y las respuestas publicadas que han recibido mayor o menor participación.</p>
  
</div>
