<div class="pagina-estatica">
  <h2>Contacto</h2>
  <p>
    Envíenos un email a <a href="mailto:info@larepublicaciudadana.co">info@larepublicaciudadana.co</a> y responderemos tan pronto como nos sea posible. Gracias por su interés!
  </p>
</div>
