@import "bootstrap";

// #========#
// #  MISC  #
// #========#
.tags .label a{
  color:#FFF;
} 

.hidden{
  display:none;
}

// Modal dialog
#confirm-delete, #confirm-delete-pregunta{
  position:absolute;
}

// #=========#
// #  LOGIN  #
// #=========#
.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 50px auto 0px auto;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);

  input[type=checkbox]{
    margin:0px;   
  }

  #links{
    font-size:13px;
    margin-top:10px;
  }
}

// #==========#
// #  LAYOUT  #
// #==========#
  body{
    padding-top: 50px;
  }

  #main-container{
    min-height:450px;
  }

  .navbar{
    .brand{
      margin-left:0px;
    }
  }

  .navbar-search{
    margin-right: 20px;

    input{
      width:120px;
    }
  }

  h3, h2{
    line-height: normal;
  }

  footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
  }

  footer p {
    margin-bottom: 0;
    color: #777;
  }

  .footer-links {
    margin: 10px 0;
  }

  .footer-links li {
    display: inline;
    padding: 0 2px;
  }

  .footer-links li:first-child {
    padding-left: 0;
  }

  .hero-unit{
    padding:30px;
  }
// #======================#
// #  LISTA DE PREGUNTAS  #
// #======================#
  #preguntas-lista{
    list-style-type:none;
    padding:0px 10px;
    margin:0px;

    .num-respuestas, .num-comentarios{
      padding-top:8px;
      display:block;
      width:35px;
      float:left;
    }

    h3, .tags{
      padding-left:75px;
    }
  }

// #=================#
// #  EDITAR PERFIL  #
// #=================#

// #==================#
// #  NUEVA PREGUNTA  #
// #==================#
  #nueva-pregunta, #editar-perfil{
    hr{
      margin:0px 0px 20px 0px;
    }

    .hero-unit{
      padding:20px;
      font-weight:normal;
    }  

    p{
      margin-bottom: 20px;
      font-size:16px;
      line-height:normal;
      small{
        font-size:12px;
      }
    }


    input[type=email], input[type=text], input[type=password]{
      margin-bottom:0px;
      vertical-align:middle;
      width: 94%;
    }

    textarea{
      margin:0px;
      width: 94%;
    }

    ul.wysihtml5-toolbar > li{
      margin-bottom:3px;
    }

    .alert{
      font-size:16px;
      width: 89%;
    }
  }

// #====================#
// #  DETALLE PREGUNTA  #
// #====================#
  #detalle-pregunta{
    .user_input_html{
      word-wrap: break-word;
      margin-bottom:15px;
      blockquote{
        padding:0px;
        margin: 0px 0px 0px 30px;
        border-left: 0px none;
      }
    }
    .votos{
      .alert{
        position: absolute;
        top: 0px;
        left: -1px;
        width: 65px;
        font-size: 12px;
        padding: 1px 6px;
        z-index:10000;
        .close{
          right:-4px;
        }
      }

      width:83px;
      position:relative;
      float:left;
      .mas{
        position:absolute;
        top:0px;
        left:0px;
      }
      .remover{
        position:absolute;
        top:7px;
        left:0px;
      }
      .menos{
        position:absolute;
        top:14px;
        left:0px;
      }
      .numeros{
        position:absolute;
        top:13px;
        left:17px;
        text-align:center;
        line-height:11px;
      }
      .votos-total{
        display:block;
        min-width:21px;
        font-size:35px;
      }
      .votos-mas{
        font-size:12px;
        color: #468847;
      }
      .votos-menos{
        font-size:12px;
        color: #b94a48;
      }
    }
  

    .indent-1{
      margin-left: 84px;
      .meta{
        font-size:13px;
        color: #999;
        font-style:italic;
      }
    }

    #comentarios{
      margin-left: 84px;
      .comentario{
        margin-bottom: 20px;
      }
      .icon-comment{
        margin-top:3px;
        display:block;
        float:left;
      }
      .cuerpo-comentario{
        word-wrap: break-word;
        line-height: normal;
        font-size:13px;
        color: #999;
        margin-left: 30px;
      }
      #agregar-comentario{
        margin-left: 30px;
      }
      
      .nuevo-comentario{
        margin-left: 30px;
        textarea{
          width:80%;
        }
        .alert{
          width:75%;
          margin-bottom:10px;
        }
      }
    }

    h3{
      margin-top:25px;
    }

    #nueva-respuesta, .edit_respuesta{
      p {
        line-height: normal;
      }
      h3{
        margin-bottom:0px;
      }
      hr{
        margin-top:0px;
      }

      textarea{
        width: 100%;
      }

    }
  } 
