<!--====-->
<!--PATA-->
<!--====-->
<footer class="footer">
  <div class="container-fluid">
    <p>Diseño y código del sitio © 2013 <a href="#">El equipo de República Ciudadana</a>. 
      <br>Contribuciones de los usuarios compartidas bajo una <a href="http://creativecommons.org/licenses/by/3.0/deed.es">licencia CC By 3.0</a>.
    </p>
    <ul class="footer-links">
      <li><a href="#">Contacto</a></li>
      <li class="muted">·</li>
      <li><a href="#">Acerca de República Ciudadana</a></li>
      <li class="muted">·</li>
      <li><a href="#">Terminos de uso y privacidad</a></li>
    </ul>
  </div>
</footer>
